---
import Layout from "../layouts/default.astro";
import Generator from "../components/generator.svelte";
---

<Layout>
	<div class="flex-col">
		<h1
			class="text-center m-2 text-2xl font-sans font-bold text-emerald-800"
		>
			Simple QR code generator
		</h1>
		<Generator client:load />
	</div>
</Layout>
