---
import Layout from "../layouts/default.astro";
---

<Layout>
	<article class="bg-white rounded-lg p-10">
        <h1 class="text-2xl text-center text-emerald-800 font-bold"><a href="https://github.com/4f48" class="hover:underline">0x4f48</a></h1>
        <p>I'm a developer from Europe, I like to make websites and other fun computer programs.</p>
        <p>You should check out my other works on <a href="https://github.com/4f48" class="text-blue-500 hover:underline" target="_blank">GitHub</a>.</p>
    </article>
</Layout>