---
import Layout from "../layouts/default.astro";
---

<Layout>
	<article class="bg-white rounded-lg w-[50%] px-12 py-6">
        <h1 class="text-2xl text-center text-emerald-800 font-bold"><a href="https://github.com/4f48" class="hover:underline">For fun, of course!</a></h1>
        <p>There are aleady thousands of better QR code generators than this. So why bother?</p>
        <p class="flex justify-evenly break-words">This was just a fun project to try out web development. For myself. You should probably use a better, full-featured alternative. But hey, this one works too. It's blazingly fast, and open source!</p>
    </article>
</Layout>